@tailwind components;
@tailwind utilities; 

:root {
  --backgroundColor: #F6F1F1;
  --color1: #e1e1e1;
  --color2: #19A7CE;
  --color3: #146C94;

  --color-0-promille: #5e388a; 
  --color-2-promille: #6f489a;
  --color-3-promille: #8158aa;
  --color-4-promille: #9369ba;
  --color-5-promille: #a57aca; 
  --color-8-promille: #b78cdb;

  --color-hover: #d68f13;
  --color-selected: #dc2c19;
}

.App {
  text-align: center;
}

body {
  background-color: var(--backgroundColor);
}

div.tooltip-hover {
  position: absolute;
  text-align: center;
  padding: .25rem;
  background: #FFFFFF;
  color: #313639;
  border: 1px solid #313639;
  border-radius: 8px;
  pointer-events: none;
  font-size: 1rem;
}

.verticalLine {
  border-left: thick solid #ff0000;
}

.filled {
  fill: url(#mygrad);
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

/* Define the button style when it is pressed */
.buttonContainer button.active {
  background-color: #292929;
  transition-duration: 400ms;
  /* Add a lower opacity to create a background effect */
  opacity: 0.8;
  box-shadow: none;
}

.buttonContainer {
  justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: 10px solid #565c5e;
  padding-bottom: 15px;
}




