.App {
  text-align: center;
}


.scatterplot {
  flex: 1;
  flex-direction: "column";
  height: "800px";
  margin-left: "10px"; 
  margin-right: "10px"; 
  display: "flex";
  justify-content: "space-between";
  width:50%;
}

button {
  background-color: #555c78;
  color: #e1dfba;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  width: 100px;
  transition-duration: 400ms;
}

button:hover {
  color: #555c78;
  background-color: #e1dfba ;
  transition-duration: 400ms;
}


.buttonContainer {
   justify-content: "space-between";
   margin-bottom: 15px;
   border-bottom: 10px solid #555c78;
   padding-bottom: 15px;
}

h1 {
  font-weight: 1000;
  text-decoration: underline;
  color: #555c78;
}

body {
  background-color: #e1dfba;
}

