.chartTitle {
    font-size: 22px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: bold;
    transform: translateY(0px);
  }

.card {
  background-color: var(--color1);
}