.scatterTitle {
    font-size: 24px;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    transform: translateY(5px);
  }

  div.tooltip-scatter {
    position: absolute;
    text-align: center;
    padding: .5rem;
    background: #FFFFFF;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 8px;
    pointer-events: none;
    font-size: 1.3rem;
}

g.zoom-button{
  background-color:#f2f2f2;
  text-align:center;
  font-weight: bold;
}

g.zoom-button:hover{
  background-color: #b3b3b3;
}

.zoom-button:hover rect{
  fill: #b3b3b3;
}

.zoom-button:active rect{
  fill: #808080;
}

.zoom-button rect {
  /* CSS styling for the rect elements */
  fill: grey;
  cursor: pointer;
  /* Add more styles as needed */
}

.zoom-button text {
  /* CSS styling for the text elements */
  fill: white;
  font-size: 20px;
  pointer-events: none;
  /* Add more styles as needed */
}

